

.TextResumer {
    background-color: white;
    padding: 50px;
    gap: 20px;

    display: flex;
    align-items: center;
    flex-flow: column;
    color: black;
    border-radius: 10px;
    font-size: 14px;
}