


.container_IntroCard {
    max-width: 1330px;
    background-color: #00D853;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;

    margin-block: 60px;
    margin-left: 15%;
    margin-right: 10%;
}