


.container_IntroCard {
    max-width: 1000px;
    background-color: #00D853;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    margin: 60px auto;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.263);
}